div.menuContainer
{
	padding-top: 22px;
	margin-left:  10px;
	width : 210px;
}

.treeNode
{
	width : 23px; height : 23px;
	vertical-align : top;
}

td.null
{  	
    background-color : #ececec;
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}

.plus, .minus, .plusLast, .minusLast, .normal, .normalLast
{	
	width : 23px; height : 23px;
	vertical-align : top;
	filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}
td.hand
{    
	cursor:hand;
	cursor:pointer;
}

td.begin
 {  
     height:40px;
     background: url('../images/menu/begin.gif') no-repeat top ;
     filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
     opacity: 1.0
}

td.end
 {  
    height:40px;
    background: url('../images/menu/end.gif') no-repeat bottom ;
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
     opacity: 1.0
 }

td.root
{  	
    background-color : #E8E8E8;
 	font: bold 11px arial;
	color : #2f2f2f;
	padding : 3px 0px 3px 3px;
 	text-decoration : none;
	vertical-align : middle;
	filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
     opacity: 1.0;
}

.child
{
	background-color : #ebebeb;
 	font:  normal 11px arial;
	color : #000000;
 	text-decoration : none;
	vertical-align :  center;
	padding : 2px 3px 2px 5px;
	filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
     opacity: 1.0;
}

 .plus  
{	 
    background : #e7e7e7 url(../images/menu/plus.gif);
	background-repeat : no-repeat;
}

.plus_child
{	     
    background : #e5e5e5 url(../images/menu/plus.gif);
	background-repeat : no-repeat;
}

.plusLast
{
 	background : #e7e7e7 url(../images/menu/plus_last.gif);
	background-repeat : no-repeat;
}

 
.plusLast_child
{
 	background : #e5e5e5 url(../images/menu/plus_last.gif);
	background-repeat : no-repeat;
}

.minus
{
	background :  #e7e7e7 url(../images/menu/minus.gif);
	background-repeat : no-repeat;
}

.minusLast
{
 	background :  #e7e7e7 url(../images/menu/minus_last.gif);
	background-repeat : no-repeat;
}

.normal
{
 	background : #e7e7e7 url(../images/menu/normal.gif);
	background-repeat : no-repeat;
}
.normal_child
{
 	background : #e5e5e5 url(../images/menu/normal.gif);
	background-repeat : no-repeat;
}

.normalLast
{
 	background : #e7e7e7 url(../images/menu/normal_last.gif);
	background-repeat : no-repeat;
}
.normalLast_child
{
 	background : #e5e5e5 url(../images/menu/normal_last.gif);
	background-repeat : no-repeat;
}


a.test:link, a.test:visited, a.test:active
{
	color : yellow;
	text-decoration : none;
}